markdown-it-py==3.0.0 ; python_full_version == "3.10.12"
mdurl==0.1.2 ; python_full_version == "3.10.12"
prompt-toolkit==3.0.43 ; python_full_version == "3.10.12"
pygments==2.17.2 ; python_full_version == "3.10.12"
rich==13.7.0 ; python_full_version == "3.10.12"
wcwidth==0.2.13 ; python_full_version == "3.10.12"
